<div>
  {% if requirements.exists() %}  
    <p>
      <b>Requirements:</b>
    </p>
    {{ purpose | markdownify }}
  {% endif %}
  {% if software.exists() %}
    <p>Applies to software: {{software.name}}
      {% if software.version.exists() %}version: {{software.version}}{% endif %}
      {% if software.date.exists() %}{{software.date}}{% endif %}
    </p>
  {% endif %}
  {% if implemenation.exists() %}
    <div>
      <p>Implementation: {{implementation.url}}"/>
        {% if custodian.display.exists() %}
          managed by:
          {% if custodian.reference.exists() %}
            <a href="{{custodian.reference}}">
              {{custodian.display}}
            </a>
          {% else %}
            {{custodian.display}}
          {% endif %}
        {% endif %}
      </p>
      {{description | markdownify}}
    </div>
  {% endif %}
  <h2>General</h2>
  <div class="table-wrapper">
    <table class="grid">
      <tbody>
        <tr>
          <th>FHIR Version:</th>
          <td>
            {{fhirVersion}}
          </td>
        </tr>
        {% if instantiates.exists() %}
          <tr>
            <th>Instantiates other Capabilities:</th>
            <td>
              <ul>
                {% for capability in instantiates %}
                  <li>
                    <a href="{{capability}}">
                      {{capability}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        {% if imports.exists() %}
          <tr>
            <th>Imports other Capabilities:</th>
            <td>
              <ul>
                {% for capability in imports %}
                  <li>
                    <a href="{{capability}}">
                      {{capability}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        {% if implementationGuide.exists() %}
          <tr>
            <th>Supports other guides:</th>
            <td>
              <ul>
                {% for ig in implementationGuide %}
                  <li>
                    <a href="{{ig}}">
                      {{capabigility}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
        {% endif %}
        {% if format.exists() %}
          <tr>
            <th>Supported exchange formats:</th>
            <td>
              {{format}}
            </td>
          </tr>
        {% endif %}
        {% if patchFormat.exists() %}
          <tr>
            <th>Supported patch formats:</th>
            <td>
              {{patchFormat}}
            </td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  {% for Arest in rest %}
    <h2>REST {{Arest.mode}} behavior</h2>
    {{Arest.documentation | markdownify}}
    {% if Arest.security.exists() %}
      <p>
        <b>Security:</b>
      </p>
      {% if Arest.security.service.coding.code.exists() %}
        {{Arest.security.service.coding.code}}
        <br/>
      {% endif %}
      {{ Arest.security.description | markdownify }}
    {% endif %}
    {% if Arest.resource.exists() %}
      <h3>Resource summary</h3>
      <div class="table-wrapper">              
        <table class="grid">
          <thead>
            <tr>
              <th>Resource</th>
              <th>Search</th>
              <th>Read</th>
              <th>Read Version</th>
              <th>Instance History</th>
              <th>Resource History</th>
              <th>Create</th>
              <th>Update</th>
              <th>Delete</th>
              <th>Operations</th>
            </tr>
          </thead>
          <tbody>
            {% for Aresource in Arest.resource %}
              <tr>
                <th>
                  {{Aresource.type}}
                  {% for Aprofile in Aresource.profile %}
                    (<a href="{{Aprofile}}">Profile</a>)
                  {% endfor %}
                </th>
                <td>
                  {% for Aop in Aresource.interaction.where(code = 'search-type') %}
                    <a title="{{Aop.documentation | markdownify}}" href="#{{Aresource.type}}-{{Aop.code}}">
                      {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                        {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                      {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                        <b>PROHIBITED</b>
                      {% else %}
                        Yes
                      {% endif %}
                    </a>
                  {% endfor %}
                </td>
                <td>
                  {% for Aop in Aresource.interaction.where(code = 'read') %}
                    <a title="{{Aop.documentation | markdownify}}" href="#{{Aresource.type}}-{{Aop.code}}">
                      {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                        {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                      {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                        <b>PROHIBITED</b>
                      {% else %}
                        Yes
                      {% endif %}
                    </a>
                  {% endfor %}
                  {% for cRead in Aresource.conditionalRead %}
                    <br/>(conditional read:<br/>{{cRead}})
                  {% endfor %}
                </td>
                <td>
                  {% for Aop in Aresource.interaction.where(code = 'vread') %}
                    <a title="{{Aop.documentation | markdownify}}" href="#{{Aresource.type}}-{{Aop.code}}">
                      {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                        {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                      {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                        <b>PROHIBITED</b>
                      {% else %}
                        Yes
                      {% endif %}
                    </a>
                  {% endfor %}
                  {% if Aresource.readHistory = false %}(current only){% endif %}
                </td>
                <td>
                  {% for Aop in Aresource.interaction.where(code = 'history-instance') %}
                    <a title="{{Aop.documentation | markdownify}}" href="#{{Aresource.type}}-{{Aop.code}}">
                      {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                        {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                      {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                        <b>PROHIBITED</b>
                      {% else %}
                        Yes
                      {% endif %}
                    </a>
                  {% endfor %}
                </td>
                <td>
                  {% for Aop in Aresource.interaction.where(code = 'history-type') %}
                    <a title="{{Aop.documentation | markdownify}}" href="#{{Aresource.type}}-{{Aop.code}}">
                      {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                        {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                      {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                        <b>PROHIBITED</b>
                      {% else %}
                        Yes
                      {% endif %}
                    </a>
                  {% endfor %}
                </td>
                <td>
                  {% for Aop in Aresource.interaction.where(code = 'create') %}
                    <a title="{{Aop.documentation | markdownify}}" href="#{{Aresource.type}}-{{Aop.code}}">
                      {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                        {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                      {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                        <b>PROHIBITED</b>
                      {% else %}
                        Yes
                      {% endif %}
                    </a>
                  {% endfor %}
                  {% if Aresource.conditionalCreate = true %}(conditional supported){% endif %}
                </td>
                <td>
                  {% for Aop in Aresource.interaction.where(code = 'update') %}
                    <a title="{{Aop.documentation | markdownify}}" href="#{{Aresource.type}}-{{Aop.code}}">
                      {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                        {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                      {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                        <b>PROHIBITED</b>
                      {% else %}
                        Yes
                      {% endif %}
                    </a>
                  {% endfor %}
                  {% if Aresource.updateCreate = false %}(existing only){% endif %}
                  {% if Aresource.conditionalUpdate = true %}(conditional supported){% endif %}
                </td>
                <td>
                  {% for Aop in Aresource.interaction.where(code = 'delete') %}
                    <a title="{{Aop.documentation | markdownify}}" href="#{{Aresource.type}}-{{Aop.code}}">
                      {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                        {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                      {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                        <b>PROHIBITED</b>
                      {% else %}
                        Yes
                      {% endif %}
                    </a>
                  {% endfor %}
                  {% if Aresource.conditionalDelete.exists() %}(conditional {{Aresource.conditionalDelete}}){% endif %}
                </td>
                <td>
                  {% for Aop in Aresoruce.operation %}
                    ${{Aop.name}}:
                    {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                      {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                    {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                      <b>PROHIBITED</b>
                    {% else %}
                      Yes
                    {% endif %}
                    {% if forloop.first = false %}
                      <br/>
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    {% if Arest.operation.exists() %}
      <p>
        <b>Operations:</b>
      </p>
      <ul>
        {% for Aop in Arest.operation %}
          <li>
            <a href="{{Aop.definition|downcase}}">${{Aop.name}}</a>
            {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
              {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
            {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
              <b>PROHIBITED</b>
            {% else %}
              Yes
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if Arest.interaction.exists() %}
      <h3>General interactions</h3>
      <div class="table-wrapper">
        <table class="list">
        <thead>
          <tr>
            <th>Name</th>
            {% if Arest.interaction.extension(http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation).exists() or 
                  Arest.interaction.extension(http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited).exists() %}
              <th>Conformance</th>
            {% endif %}
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for Aop in Aresource.interaction %}
            <tr>
              <th>
                <a name="{{Aresource.type}}-{{Aop.code}}">&#xA0;</a>
                <span>{{Aop.code}}</span>
              </th>
              {% if Arest.interaction.extension(http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation).exists() or 
                    Arest.interaction.extension(http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited).exists() %}
                <td>
                  {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                    {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                  {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                    <b>PROHIBITED</b>
                  {% endif %}
                </td>
              {% endif %}
              <td>
                {{Aop.documentation | markdownify}}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    {% endif %}
    {% for Aresource in Arest.resource %}
      <br/>
      <br/>
      <h3>
        <a href="{{site.data.fhir.path}}{{Aresource.type | downcase}}.html">{{Aresource.type}}</a>              
      </h3>
      {% for Aprofile in Aresource.profile %}
        <p>Profile: <a href="{{Aprofile}}">{{Aprofile}}</a></p>
      {% endfor %}
      {% if Aresource.supportedProfile.exists() %}
        <p>Supported Profile(s):</p>
        <ul>
          {% for Aprofile in Aresource.supportedProfile %}
            <li>
              <a href="{{Aprofile}}">{{Aprofile}}</a>
              {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
              {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                <b>PROHIBITED</b>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if Aresource.versioning.exists() or Aresource.referencePolicy.exists() %}
        <h4>Behavior</h4>
        {% if Aresource.versioning.exists() %}
          <p>Versioning support: {{Aresource.versioning}}</p>
        {% endif %}
        {% if Aresource.referencePolicy.exists() %}
          <p>Reference policy: {{Aresource.referencePolicy}}</p>
        {% endif %}
      {% endif %}          
      <!-- Note: description doesn't exist yet -->
      {{documentation | markdownify}}
      <h4>Interactions</h4>
      <div class="table-wrapper">
        <table class="list">
          <thead>
            <tr>
              <th>Name</th>
              {% if Aresource.interaction.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() or 
                    Aresource.interaction.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').exists()
                    Aresource.operation.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() or 
                    Aresource.operation.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').exists() %}
                <th>Conformance</th>
              {% endif %}
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {% for Aop in Aresource.interaction.where(documentation.exists()) %}
              <tr>
                <th>
                  <a name="{{Aresource.type}}-{{Aop.code}}">&#xA0;</a>
                  <span>{{Aop.code}}</span>
                </th>
                {% if Aresource.interaction.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() or 
                      Aresource.interaction.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').exists()
                      Aresource.operation.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() or 
                      Aresource.operation.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').exists() %}
                  <td>
                    {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                      {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                    {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                      <b>PROHIBITED</b>
                    {% endif %}
                  </td>
                {% endif %}
                <td>
                  {{Aop.documentation | markdownify}}
                </td>
              </tr>
            {% endfor %}
            {% for Aop in Aresource.operation.where(documentation.exists()) %}
              <tr>
                <th>
                  <a name="{{Aresource.type}}-{{Aop.name}}">&#xA0;</a>
                  <span>${{Aop.name}}</span>
                </th>
                {% if Aresource.interaction.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() or 
                      Aresource.interaction.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').exists()
                      Aresource.operation.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() or 
                      Aresource.operation.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').exists() %}
                  <td>
                    {% if Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                      {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                    {% elsif Aop.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                      <b>PROHIBITED</b>
                    {% endif %}
                  </td>
                {% endif %}
                <td>
                  {{Aop.documentation | markdownify}}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if Aresource.searchInclude.exists() or Aresource.searchRevInclude.exists() or Aresource.searchParam.exists() %}
        <h4>Search</h4>
        {% if Aresource.searchInclude.exists() %}
          <p>Supported Includes: {{Aresource.searchInclude}}</p>
        {% endif %}
        {% if Aresource.searchRevInclude.exists() %}
          <p>Supported Reverse-Includes: {{Aresource.searchRevInclude}}</p>
        {% endif %}
        {% if Aresource.searchParam.exists() %}
          <div class="table-wrapper">
            <table class="list">
            <thead>
              <tr>
                <th>Parameter</th>
                {% if Aresource.searchParam.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() or 
                      Aresource.searchParam.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').exists()
                  <th>Conformance</th>
                {% endif %}
                <th>Type</th>
                <th>Definition &amp; Chaining</th>
              </tr>
            </thead>
            <tbody>
              {% for Aparam in Aresource.searchParam %}
                <tr>
                  <th>
                    {% if Aparam.definition.exists() %}
                      <a href="{{Aparam.definition}}">{{Aparam.name}}</a>
                    {% else %}
                      {{Aparam.name}}
                    {% endif %}
                  </th>
                  {% if Aresource.searchParam.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() or 
                        Aresource.searchParam.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').exists()
                    <td>
                      {% if Aparam.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').exists() %}
                        {{Aop.extension('http://hl7.org/fhir/StructureDefinition/capabilitystatement-expectation').value}}
                      {% elsif Aparam.modifierExtension.where(url='http://hl7.org/fhir/StructureDefinition/capabilitystatement-prohibited').value = true %}
                        <b>PROHIBITED</b>
                      {% endif %}
                    </td>
                  {% endif %}
                  <td>{{Aparam.type}}
                    {% if Aparam.target.exists() %}
                      ({{Aparam.target}})
                    {% endif %}
                  </td>
                  <td>
                    {{Aparam.documentation | markdownify}}
                    {% if Aparam.chain.exists() %}
                      Chaining: {{Aparam.chain}}
                    {% endif %}
                  </td>
                </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% for Amsg in messaging %}
    <br/>
    <br/>
    <h2>Messaging</h2>
    {% if Amsg.endpoint.exists() %}
      <p>
        <b>End point(s): </b>
      </p>
      <div class="table-wrapper">
        <table cellpadding="grid">
          <tbody>
            <tr>
              <th>Address</th>
              <th>Protocol(s)</th>
            </tr>
            {% for Aendpoint in Amsg.endpoint %}
              <tr>
                <td>{{Aendpoint.address}}</td>
                <td>
                  {% for Aprotocol in Aendpoint.protocol %}
                    {% if forloop.first = false %}, {% endif %}
                    {% if Aprotocol.display.exists() %}
                      {{Aprotocol.display}}
                    {% else %}
                      {{Aprotocol.code}}
                    {% endif %}
                  {% endfor %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endif %}
    {{Amsg.documentation | markdownify}}
    <div class="table-wrapper">
      <table class="grid">
        <thead>
          <tr>
            <th>Event</th>
            <th>Category</th>
            <th>Mode</th>
            <th>Focus</th>
            <th>Request</th>
            <th>Response</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for Aevent in Amsg.event %}
            <tr>
              <td>{{Aevent.code}}</td>
              <td>{{Aevent.category}}</td>
              <td>{{Aevent.mode}}</td>
              <td>{{Aevent.focus}}</td>
              <td>
                {%for Aref in Aevent.request.reference %}
                  <a href="{{Aref}}.html">{{Aref}}</a>
                {% endfor %}
              </td>
              <td>
                {%for Aref in Aevent.response.reference %}
                  <a href="{{Aref}}.html">{{Aref}}</a>
                {% endfor %}
              </td>
              <td>{{Aevent.documentation|markdownify}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
  {% if document.exists() %}
    <br/>
    <br/>
    <h2>Documents</h2>
    <div class="table-wrapper">
      <table class="grid">
        <thead>
          <tr>
            <th>Mode</th>
            <th>Profile</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for Adoc in document %}
            <tr>
              <td>{{Adoc.mode}}</td>
              <td>
                {% for Aprofile in Adoc.profile %}
                  <a href="{{Aprofile}}">{{Aprofile}}</a>
                {% endfor %}
              </td>
              <td>{{Adoc.documentation|markdownify}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
</div>